
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    
    }
   
    html, body{
        height: 100%;
        width: 100%;
      
    }
    #page1{
        min-height: 100vh;
       min-width:100%;
      
        position: relative;
        padding: 0 2vw;
    }
    nav{
        height: 100px;
        width: 100%;
       padding: 2vw 3vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-part2{
        display: flex;
        align-items: center;
        gap: 1vw;

    }
    .nav-part2 h4{
        padding: 10px 20px;
        border: 1px solid rgba(73, 71, 71, 0.301);
        border-radius: 50px;
        font-weight: 500;
        color:rgba(0, 0, 0, 0.815);
        font-size: 18px;
        position: relative;
        transition: all ease 0.4s;
        overflow: hidden;
    }
    .nav-part2 h4::after{
        /* content: ""; */
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        left    : 0;
        bottom: -100%;
        border-radius: 50px;
        transition: all ease 0.4s;
      
     
    }
    .nav-part2 h4:hover::after{
        bottom: 0;
    }

    .nav-part2 h4 a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.76);
        z-index: 9;
        position: relative;
     }   
     .nav-part2 h4:hover a{
        color: #fff;
     }
     #center
     {
        height: 65vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.322);
        padding-bottom: 2.5vw;

     }
     #left h3{
        width: 25vw;
        font-size: 1.8vw;
        line-height: 2vw;
     }
     #center h1{
        font-size: 10vw;
        line-height: 8vw;
        text-align: right;
     }
     #page1 video{
        border-radius: 20px;
        margin-top: 4vw;
        position: relative;
        width: 100%;
     }
     #hero-shape{
        height: 36vw;
        width: 46vw;
        right: 0;
        top: 65vh;
        position: absolute;
        filter: blur(15px);
     }
     #hero1{
        height: 100%;
        width: 100%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color: #FE320A;
        position: absolute;
        animation-name: anime;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-direction: alternate;
        animation-iteration-count: infinite;
     }
     #hero2{
        height: 30vw;
        width: 30vw;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color: #FE320A;
        border-radius: 50%;
        position: absolute;
  
     }
     #hero3{
        height: 30vw;
        width: 30vw;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color: #FE320A;
        border-radius: 50%;
        position: absolute;
        animation-name: anime;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-direction: alternate;
        animation-iteration-count: infinite;
     }
     @keyframes anime {
        from{
            transform: translate(-10%,10%);
        }
        to{
            transform: translate(20%,-10%);
        }
        
     }
 #page2{
   min-height: 100vw;
   width: 100%;
   padding: 8vw 0;
  
   position: relative;
 }
 #moving-text{
    white-space: nowrap;
    overflow-x: auto;
  }
  #moving-text::-webkit-scrollbar{
    display: none;
  
    
  }
 #con {
   white-space: nowrap;
   display: inline-block;
   animation-name: move;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
 
 }
 #moving-text h1 {
   font-size: 9vw;
   display: inline-block;

  }

 #gola{
   height: 50px;
   width: 50px;
   background-color: #FE320A;
   border-radius: 50%;
   display: inline-block;
   margin: 1vw 2vw;

 }
 @keyframes move {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
    
 }

 #page2-bottom{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
    margin-top: 3vw;
    position: relative;
    z-index: 9;
   
 }
 #page2-bottom h1{
font-size: 4vw;
width: 65%;
line-height: 4vw;

 }
 #bottom-part2{
    width: 20%;
margin-top: 7vw;
  
 }
 #bottom-part2 img{
    width: 100%;
    border-radius: 15px;   

 }

 #bottom-part2 p{
   font-weight: 100;
   margin-top: 2vw;
   font-size: 1vw;
 }
#page2 #gooey{
height: 35vw;
width: 35vw;
position: absolute;
border-radius: 50%;
background-color: #FE320A;
top: 40%;
left: 20%;
filter: blur(20px);
animation-name: circle;
   animation-duration: 6s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}
#page2 #gooey1{
height: 35vw;
width: 35vw;
position: absolute;
border-radius: 50%;
background-color: #FE320A;
top: 40%;
left: 20%;
filter: blur(20px);
}

@keyframes circle{
   from{
      transform: translate( 10%,-10%);
   }
   to{
      transform: translate(-10%,10%);
   }
   
}
#featured{
display: flex;
align-items: center;
padding: 4vw;
margin-top: 10vw;


}
#featured h3{
   padding: 10px;
   font-weight:100;
   font-size: 14px;
}
#featured-gola{
   height: 10px;
   width: 10px;
   background-color: #FE320A;
   border-radius: 50%;
   
}
#page3 {
   min-height: 100vh;
   margin-top: -15vw;
   width: 100%;
   
   
}
#options{
   height: 120px;
   width: 100%;
 display: flex;
   border-bottom: 1px solid rgba(0, 0, 0, 0.459);
   position: relative;
   overflow: hidden;
   
}
#options h2{
   font-size: 3vw;
   text-align: left;
   padding: 2vw;
   align-items: center;
   position: relative;
   z-index: 9;
   

}
#options #overlay{
   height: 100%;
   width: 100%;
   background-color: orange;
  position: absolute;
  top: -100%;
  transition: all ease 0.3s;

}
#options:hover #overlay{
   top: 0;
}






